#main-title{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #343434;
    text-shadow: 3px 3px 5px #141414;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

body{
    background-color: #edf2fe;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.nav-thing{
    /* padding: 0.5em em; */
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* display: flex; */
    align-items: center; /* Alinea los elementos verticalmente */
}

.active{
    font-weight: bold;

}

.nav-item{
    padding-left: 50px;
}

.base-logo{
    vertical-align:text-top;
    width: 20px;
}

#profile-photo{
    display:flex;
    justify-content: center;
    align-items: center;
}

#main-photo{
    margin: 20px;
    border-radius: 50%;
    border: 5px solid #91c8fe;
    box-shadow: #000000 4px 4px 8px;
}

.experience-entry{
    padding: 2em;
    background-color: #dde7fd;
    box-shadow: 4px 4px 8px #32456f;
}

.info{
    color: rgb(91, 91, 91);
    font-size: 0.8em;
    text-align: end;
}

.aligned-image {
    position: absolute;
    bottom: 0;
}

.home-buttons{
    margin-bottom: 1em;
    /* margin-left: .5em; */
    width: 100%;
}